[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansicolors = ">=1.1.8"

[dev-packages]
pipenv = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
